.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/

.vscode/

flask.stdout.log
flask.stderr.log

reports/
static/uploads/
static/gradcam/
static/lime/
static/outputs/

models/*.keras
!models/.gitkeep

_portable_build/
